<div class="container-fluid">
    <div class="row" *ngIf="cargando">
        Cargando Variables...
    </div>
    <div class="row" *ngIf="!cargando">
        <p>
            <strong>Marca Slug: </strong> {{ slugMarca }}
        </p>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <ul class="list-group" *ngIf="!cargandoMarca">
                <li class="list-group-item pointer" *ngFor="let categoria of marca.categorias" (click)="irACategoria(categoria.nombre)">{{ categoria.nombre }}</li>
            </ul>
        </div>
        <div class="col-9" *ngIf="!cargando">
                <div class="row">
                        <div class="col-10">
                        </div>
                        <div class="col-2">
                            <app-ordenacion (ordenCambio)="cambiarOrden($event)"></app-ordenacion>
                        </div>
                    </div>
            <div class="row" *ngIf="!cargandoProductos">
                <app-producto class="col-3 pb-4" *ngFor="let producto of productos" [producto]="producto">
                </app-producto>
            </div>
            <div class="row">
                <app-paginacion [totalProductos]="totalProductos" [productosPorPagina]="productosPorPagina"
                    [totalPaginas]="totalPaginas" [paginaActual]="paginaActual" (cambioPagina)="cambiarPagina($event)">
                </app-paginacion>
            </div>
        </div>
    </div>
</div>