<button class="btn btn-primary btn-block" (click)="onLoginFacebook()">Facebook</button>
<button class="btn btn-danger btn-block mb-2" (click)="onLoginGoogle()">Google</button>
<form>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="email" name="email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="pass" name="pass">
    </div>
    <div class="form-group row">
        <div class="col">
            <button class="btn btn-outline-primary btn-block" (click)="onLogin()">Login</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-secondary btn-block" (click)="onRegister()">Signin</button>
        </div>
    </div>

</form>